<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Consultar Tareas</title>
  <link rel="stylesheet" type="text/css" href="../static/consutaTask.css">
</head>
<body>
  {% include 'menu.html'%}

  <div class="container">
    <h1>Consulta de Tareas</h1>
    <form method="POST" action="{{ url_for('buscartr') }}">
      <label for="fecha">Fecha De Entrega:</label>
      <input type="date" id="fecha" name="fecha" required>

      <button type="submit">Buscar</button>
    </form>

    <div id="resultado">

      {% if fechas %}
      <center><h3>Resultados:</h3></center>
      <table>
          <tr>
              <!-- <th>ID</th> -->
              <th>Titulo</th>
              <th>Materia</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Entrega</th>
              <th>Descripcion</th>
              <th>Estado</th>
              
            
              
          </tr>
          {% for fecha in fechas %}
              <tr>
                  <!-- <td>{{ fecha[0] }}</td> -->
                  <td>{{ fecha[1] }}</td>
                  <td>{{ fecha[2] }}</td>
                  <td>{{ fecha[3] }}</td>
                  <td>{{ fecha[4] }}</td>
                  <td>{{ fecha[5] }}</td>
                  <td>{{ fecha[7] }}</td>
                  
                
              </tr>
          {% endfor %}
      </table>
  {% endif %}


    </div>
  </div>
  {% with mensajes = get_flashed_messages(with_categories=True) %}
  {% if mensajes %}
      <script>
          document.addEventListener('DOMContentLoaded', function () {
              {% for category, message in mensajes %}
                  {% if category == 'success' %}
                      Swal.fire({
                          position: 'center',
                          icon: 'success',
                          title: 'Exito',
                          text: "{{ message }}",
                          showConfirmButton: true,
                          timer: 5000
                      });
                  {% else %}
                      Swal.fire({
                          position: 'center',
                          icon: 'error',
                          title: 'Error',
                          text: "{{ message }}",
                          showConfirmButton: true,
                          timer: 5000
                      });
                  {% endif %}
              {% endfor %}
          });
      </script>
  {% endif %}
{% endwith %}
</body>
</html>
