<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Creación de Eventos</title>
    <link rel="stylesheet" type="text/css" href="../static/eventos.css">
</head>
<body>
    {% include 'menu.html'%}
    <div class="container">
        <h1>Creación de Eventos</h1>
        <form action="{{ url_for('eventof') }}" method="POST">
            <label for="title">Título del Evento:</label>
            <input type="text" id="title" name="title" placeholder="Ingrese el título del evento" required>

            <label for="date">Fecha:</label>
            <input type="date" id="date" name="date" required>

            <label for="time">Hora:</label>
            <input type="time" id="time" name="time" required>

            <label for="location">Ubicación:</label>
            <input type="text" id="location" name="location" placeholder="Ingrese la ubicación del evento" required>

            <label for="description">Descripción:</label>
            <textarea id="description" name="description" placeholder="Ingrese una descripción o notas relacionadas con el evento" required></textarea>

            <button type="submit">Crear Evento</button>
        </form>
    </div>

    {% with mensajes = get_flashed_messages(with_categories=True) %}
            {% if mensajes %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        {% for category, message in mensajes %}
                            {% if category == 'error' %}
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    text: "{{ message }}",
                                    showConfirmButton: true,
                                    timer: 5000
                                });
                            {% else %}
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    text: "{{ message }}",
                                    showConfirmButton: true,
                                    timer: 5000
                                });
                            {% endif %}
                        {% endfor %}
                    });
                </script>
            {% endif %}
        {% endwith %}

</body>
</html>
