<head>
    <link rel="stylesheet" type="text/css" href="../static/menu.css">
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div class="menu" >
    <h2>Bienvenid(a) a Piplot</h2>
    <nav>
        <ul>
            <li><a href="/inicio"><i class="material-icons">home</i></a></li>
            <li><a href="/perfil"><i class="material-icons">person</i></a></li> 
            <li><a href="/eventos"><i class="material-icons">event</i></a></li> 
            <li><a href="/tareas"><i class="material-icons">playlist_add</i></a></li> 
            <li><a href="/consultaTareas"><i class="material-icons">search</i></a></li> 
            <li><a href="/progreso"><i class="material-icons">trending_up</i></a></li> 
            <li><a href="/cerrar"><i class="material-icons">exit_to_app</i></a></li>

        </ul>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.20/dist/sweetalert2.all.min.js"></script>

    