<!DOCTYPE html>
<html>
<head>
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="../static/Vperfil.css">
</head>
<body>
    {% include 'menu.html'%}
    <div class="container">
        {% if perfil %}
            <div class="profile-image">
                {% if perfil[7] %}
                    <img src="{{ url_for('static', filename=perfil[7]) }}" alt="Foto de perfil">
                {% else %}
                    <img src="{{ url_for('static', filename='default_profile.png') }}" alt="Foto de perfil predeterminada">
                {% endif %}
            </div>
            <div class="profile-details">
                <h1>Mi Perfil</h1>
                <p><strong>Nombre:</strong> {{ perfil[0] }}</p>
                <p><strong>Apellido Paterno:</strong> {{ perfil[1] }}</p>
                <p><strong>Apellido Materno:</strong> {{ perfil[2] }}</p>
                <p><strong>Correo Electrónico:</strong> {{ perfil[3] }}</p>
                <p><strong>Institución:</strong> {{ perfil[4] }}</p>
                <p><strong>Carrera:</strong> {{ perfil[5] }}</p>
                <p><strong>Cuatrimestre:</strong> {{ perfil[6] }}</p>
            </div>
        {% else %}
            <div class="no-profile">
                <h1>Registra tu perfil</h1>
                <!-- <p>No tienes datos de perfil registrados.</p> -->
                <a href="{{ url_for('Rperfilf') }}">Registrar perfil</a>
            </div>
        {% endif %}
    </div>

    {% with mensajes = get_flashed_messages(with_categories=True) %}
    {% if mensajes %}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                {% for category, message in mensajes %}
                    {% if category == 'error' %}
                        Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: 'Error',
                            text: "{{ message }}",
                            showConfirmButton: true,
                            timer: 5000
                        });
                    {% else %}
                        Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Éxito',
                            text: "{{ message }}",
                            showConfirmButton: true,
                            timer: 5000
                        });
                    {% endif %}
                {% endfor %}
            });
        </script>
    {% endif %}
{% endwith %}
</body>
</html>
