<!DOCTYPE html>
<html>
<head>
    <title>Seguimiento de Progreso</title>
    <link rel="stylesheet" type="text/css" href="../static/progreso.css">
</head>
<body>
    <h1>SEGUIMIENTO DE PROGRESO</h1>

    <h2>Tareas Pendientes</h2>
    <ul id="task-list">
        {% for tarea in tareas_pendientes %}
            <li class="task">
                <input type="checkbox" id="{{ 'task' ~ tarea[0] }}">
                <label for="{{ 'task' ~ tarea[0] }}">{{ tarea[1] }}</label>
            </li>
        {% endfor %}
    </ul>

    <h2>Actividades Completadas</h2>
    <ul id="completed-list">
        {% for tarea in tareas_completadas %}
            <li class="completed-task">
                <input type="checkbox" id="{{ 'completed' ~ tarea[0] }}" checked disabled>
                <label for="{{ 'completed' ~ tarea[0] }}">{{ tarea[1] }}</label>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
