<!DOCTYPE html>
<html>
<head>
    <title>Seguimiento de Progreso</title>
    <link rel="stylesheet" type="text/css" href="../static/progreso.css">
</head>
<body>
    {% include 'menu.html'%}
<div class="container">
    <h2 class="titulo">Seguimiento de Progreso</h2>

    <h3>Tareas Pendientes</h3>
    <ul id="task-list">
        {% for tarea in tareas_pendientes %}
            <li class="task">
                <form method="post" action="{{ url_for('marcar_completada', tarea_id=tarea[0]) }}">
                    <input type="checkbox" id="{{ 'task' ~ tarea[0] }}" onchange="this.form.submit()">
                    <label for="{{ 'task' ~ tarea[0] }}">{{ tarea[1] }}</label>
                </form>
            </li>
        {% endfor %}
    </ul>

        <h3>Actividades Completadas</h3>
    <ul id="completed-list">
        {% for tarea in tareas_completadas %}
            <li class="completed-task">
                <input type="checkbox" id="{{ 'completed' ~ tarea[0] }}" checked disabled>
                <label for="{{ 'completed' ~ tarea[0] }}">{{ tarea[1] }}</label>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
