<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Tareas</title>
    <link rel="stylesheet" type="text/css" href="../static/ADMTask.css">
</head>
<body>
    {% include 'menu.html'%}
    <div class="container">
        
        <h1>Crear una nueva Tarea</h1>
        <form action="{{ url_for('registroTareaf') }}" method="POST">
            <input type="text" name="titulo" placeholder="Título de la Tarea" required>
            <input type="text" name="materia" placeholder="Materia" required>
            
            <label for="fecha">Fecha Inicio</label>
            <input type="date" name="fechaInicio" placeholder="Fecha de Inicio" required>

            <label for="fecha">Fecha Fin</label>
            <input type="date" name="fechaFin" placeholder="Fecha de Fin" required>

            <textarea name="descripcion" placeholder="Descripción" required></textarea>
            
            <button type="submit">Agregar Tarea</button>
        </form>
    </div>

            {% with mensajes = get_flashed_messages(with_categories=True) %}
            {% if mensajes %}
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        {% for category, message in mensajes %}
                            {% if category == 'error' %}
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    text: "{{ message }}",
                                    showConfirmButton: true,
                                    timer: 5000
                                });
                            {% else %}
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    text: "{{ message }}",
                                    showConfirmButton: true,
                                    timer: 5000
                                });
                            {% endif %}
                        {% endfor %}
                    });
                </script>
            {% endif %}
        {% endwith %}

        

                <!-- {%with mensajes= get_flashed_messages() %}
                {% if mensajes%}
                {%for msj in mensajes%}
                    <h3>{{ msj }}</h3>
                {%endfor%}
            {% endif %}
            {%endwith%} -->

</body>
</html>
